sudo: false
language: python
python:
  - 2.7
  - 3.5
  - 3.6
install:
  - source .ci/travis.sh
script:
  - python .ci/download_data.py
  - python .ci/score_classifier.py
after_script:
  - source .ci/update.sh
#branches:
#  except:
#    - master
