sudo: false
language: python
python:
  - '2.7'
  - '3.5'
  - '3.6'
install:
  - source .ci/travis.sh
script:
  - python .ci/score_classifier.py
after_script:
  - python .ci/update_leaderboard.sh
#branches:
#  except:
#    - master
